.venv/
__pycache__/
*/Model/*.pkl
.DS_Store
.idea/
log_file.txt
cache/
tmp_dwl

# City data folders created by CityFM_preprocess.py are not committed
# (only the three shipped with the original repo are tracked).
/*/
!/utils/
!/Singapore/
!/New York/
!/Seattle/
